header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  
  position: sticky;
  top: 0;
  padding: 0 16px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem;
};

header h1 {
  color: black;
  margin: 0;
  font-size: 24px;

  justify-self: start;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 16px;
};

/* Style the navigation bar */
.topnav {
  display: flex;
  justify-content: center;
  grid-column: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
  border-radius: 12px;
}

/* style the active/current navigation item */
.topnav a.active {
  background-color: blue;
  color: white;
  border-radius: 12px;
}

.login {
  justify-self: end;
}

.login button {
  display: flex;
  background-color: blue;
  color: white;
  border: none;
  padding: 14px 16px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 12px;
}

.login button:hover {
  background-color: black;
  color: white;
  border-radius: 12px;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;

  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  filter: blur(5px);
  transform: scale(1.05); /* prevents blurry edges */
  z-index: -1;
}

.table-div{
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;

  padding: 2rem;
  width: 90%;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2rem; */
}

table th {
  font-weight: bold;
  background-color: blue;
  color: white;
  font-size: large;
}

th, td {
  border: 1px solid black; /* Adds a solid, 1px black border to all elements */
}

.add-item-button button{
  /* background-color: blue; */

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 12px; */

  color: black;
  border: none;
  padding: 7px 8px;
  font-size: 17px;
  font-style: italic;
  cursor: pointer;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center
}

.add-item-button button:hover {
  background-color: white;
  color: black;
}

.login-container {
  margin: 10px;
  /* center the content in this container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-container {
  margin: 10px;
  /* center the content in this container */
  display: flex;
  justify-content: center;
  align-items: center;
}

